<div class="jumbotron" id="home">
	<div class="container">
		<h2>Home</h2>
		<p>UniLife Planner aims to help you plan your modules throughout your exciting university life in NUS.</p>
	</div>
</div>
<div class="jumbotron" id="tech">
	<div class="container">
		<h2>Technology</h2>

	</div>
</div>