<div class="jumbotron" id="home">
	<div class="container">
		<h2>Home</h2>
		<p>UniLife Planner aims to help you plan your modules throughout your exciting university life in NUS.</p>
	</div>
</div>
<div class="jumbotron" id="tech">
	<div class="container">
		<h2>Technology</h2>
		<div class="row tech-row">
			<div class="col-sm-4">
				<a href="https://www.ruby-lang.org/en/">
					<div class="tech-logo img-rounded"><center>
						<img src="/images/ruby-logo.gif" class="img-responsive img-rounded" alt="Ruby"></center>
					</div>
				</a>
			</div>
			<div class="col-sm-4">
				<a href="http://www.sinatrarb.com/">
					<div class="tech-logo img-rounded"><center>
						<img src="/images/sinatra-logo.png" class="img-responsive img-rounded" alt="Sinatra"></center>
					</div>
				</a>
			</div>
			<div class="col-sm-4">
				<a href="http://getbootstrap.com/">
					<div class="tech-logo img-rounded"><center>
						<img src="/images/bootstrap.png" class="img-responsive img-rounded" alt="Bootstrap"></center>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>