<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>UniLife Planner</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href=<%= @stylepage %>>
	<link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
	<style type="text/css"></style>
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	
	<div class="navbar navbar-fixed-top" role="navigation" id="navigation_bar">
		<div class="container nav-container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><b>UniLife Planner</b></a>
			</div>
			<div class="collapse navbar-collapse" id="main-menu">
				<ul class="nav navbar-nav" >
					<li><a href="/">HOME</a></li>
					<li><a href="/about">ABOUT</a></li>
					<li><a href="/modules">MODULES</a></li>
					<li><a href="/plan">PLAN</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if session[:uid] %>
					<li class="dropdown">
							<a data-target="#" id="user-menu" data-toggle="dropdown" role="button" class="dropdown-toggle"><%= session[:name] %><span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="user-menu">
								<li role="presentation"><a href="javascript:logoutModal()" role="menuitem" tabindex="-1">Sign out</a></li>
							</ul>
					</li>
					<% else %>
					<li><a href="javascript:login()" id="sign-in-bar"><b>Sign In</b></a></li>
					<% end %>
				</ul>
			</div>
		</div>	
	</div>
	<div id="body">
		<%= yield%>
	</div>
	<div id="footer">
		<div class="container text-center">
			<b style="color: #FDFDFD; font-size: 20px;">Unilife Planner</b>
			<p>Peter Kristianto Widjaja &copy; 2015</p>
			<div>
				<center><a href="https://github.com/peterkwidjaja/UniLife" id="github-link" target="_blank"><i class="fa fa-github fa-3x"></i></a></center>
			</div>
		</div>
	</div>

	<div class="modal fade" id="mainModal" role="dialog" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true" >
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
	                <h4 class="modal-title" id="modalTitle"></h4>
	            </div>
	            <div class="modal-body" id="modalBody"> 
	            </div>
	        </div>
	    </div>  
	</div>

	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="/js/login.js"></script>
	<%= @javascript %>
</body>
</html>