<div class="jumbotron" id="error" style="background-color: #E82C0C; margin-top: 80px;">
	<center>
		<h1>Page is still under construction</h1>
		<p><img src="/images/hammer_wrench.gif" class="img-rounded img-responsive"></p>
		<p style="font-size:28px;">Sorry for the inconvenience</p>
	</center>
</div>
