<div class="navbar-fixed-top" id="navigation">
	<center>
		<a href="#sem1" class="btn btn-rounded btn-primary"><b>SEM 1</b></a>
		<a href="#sem2" class="btn btn-rounded btn-primary"><b>SEM 2</b></a>
		<a href="#sem3" class="btn btn-rounded btn-primary"><b>SEM 3</b></a>
		<a href="#sem4" class="btn btn-rounded btn-primary"><b>SEM 4</b></a>
		<a href="#sem5" class="btn btn-rounded btn-primary"><b>SEM 5</b></a>
		<a href="#sem6" class="btn btn-rounded btn-primary"><b>SEM 6</b></a>
		<a href="#sem7" class="btn btn-rounded btn-primary"><b>SEM 7</b></a>
		<a href="#sem8" class="btn btn-rounded btn-primary"><b>SEM 8</b></a>
	</center>
</div>

<div class="jumbotron" id="sem1">
	<div class="container">
		<h2>Semester 1</h2>
	</div>
</div>

<div class="jumbotron" id="sem2">
	<div class="container">
		<h2>Semester 2</h2>
	</div>
</div>

<div class="jumbotron" id="sem3">
	<div class="container">
		<h2>Semester 3</h2>
	</div>
</div>

<div class="jumbotron" id="sem4">
	<div class="container">
		<h2>Semester 4</h2>
	</div>
</div>

<div class="jumbotron" id="sem5">
	<div class="container">
		<h2>Semester 5</h2>
	</div>
</div>

<div class="jumbotron" id="sem6">
	<div class="container">
		<h2>Semester 6</h2>
	</div>
</div>

<div class="jumbotron" id="sem7">
	<div class="container">
		<h2>Semester 7</h2>
	</div>
</div>

<div class="jumbotron" id="sem8">
	<div class="container">
		<h2>Semester 8</h2>
	</div>
</div>





