
<div class="carousel slide" id="carousel-year" data-interval="false">
	<ol class="carousel-indicators">
		<li data-target="#carousel-year" data-slide-to="0"></li>
		<li data-target="#carousel-year" data-slide-to="1"></li>
		<li data-target="#carousel-year" data-slide-to="2"></li>
		<li data-target="#carousel-year" data-slide-to="3"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<div class="container">
				<h1>Freshman Year</h1>
				<div class="jumbotron" id="sem1">
					<div class="container">
						<h2>Semester 1</h2>
						<center>
							<form role="form" id="modules1">
								<div class="form-group">
									<label for="module-sem1">Enter Module Code:</label>
									<input type="text" class="form-control module-input" placeholder="Add module to this sem" autocomplete="off" id="test1">	
								</div>
							</form>
						</center>
						<div id="chosen-modules-1">
							<table class="table sem-table" id="sem1-table">
								<thead>
									<tr>
										<th>Module Code</th>
										<th>Module Name</th>
									</tr>
								</thead>
								<tbody id="content">
								</tbody>
							</table>
						</div>
						<center><p>Total MC: <span id="total-credit1">0</span></p></center>
					</div>
				</div>

				<div class="jumbotron" id="sem2">
					<div class="container">
						<h2>Semester 2</h2>
					</div>
				</div>
			</div>
			<div class="carousel-caption">Year 1</div>
		</div>
		<div class="item">
			<div class="container">
				<h1>Year 2</h1>
				<div class="jumbotron" id="sem3">
					<div class="container">
						<h2>Semester 3</h2>
					</div>
				</div>
				<div class="jumbotron" id="sem4">
					<div class="container">
						<h2>Semester 4</h2>
					</div>
				</div>

			</div>
			<div class="carousel-caption">Year 2</div>
		</div>
		<div class="item">
			<div class="container">
				<h1>Year 3</h1>
				<div class="jumbotron" id="sem5">
					<div class="container">
						<h2>Semester 5</h2>
					</div>
				</div>
				<div class="jumbotron" id="sem6">
					<div class="container">
						<h2>Semester 6</h2>
					</div>
				</div>

			</div>
			<div class="carousel-caption">Year 3</div>
		</div>
		<div class="item">
			<div class="container">
				<h1>Year 4</h1>
				<div class="jumbotron" id="sem7">
					<div class="container">
						<h2>Semester 7</h2>
					</div>
				</div>
				<div class="jumbotron" id="sem8">
					<div class="container">
						<h2>Semester 8</h2>
					</div>
				</div>

			</div>
			<div class="carousel-caption">Year 4</div>
		</div>
	</div>
	<a class="left carousel-control" href="#carousel-year" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a href="#carousel-year" class="right carousel-control" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>


