#home{
	background-color: #565659;
	color: #FFFFFF;
	margin-top:80px;
}
#started-button {
	background-color: #F28705;
	border-color: #F28705;
	color: #FFFFFF;
	font-size: 20px;
	margin-top: 10px;
}
#tech{
	background-color: #5B9ED9;
	color: #FFFFFF
}

.tech-logo img{
	max-height: 80px;
	width: auto;
	background-color: #FFFFFF;
}
.tech-row{
	/*padding-top: 15px;*/
	margin: auto;
}
.col-sm-4 {
	padding-top: 15px;
	padding-bottom: 15px;
}