.container.carousel-container {
  padding-left: 5px;
  padding-right: 5px;
}
.jumbotron:nth-child(odd){
	background-color: #031132;
	color: #FFFFFF;
}
.jumbotron:nth-child(even){
	background-color: #DC9917;
	color: #565659;
}
.item{
	padding-bottom: 50px;
}
.carousel-caption{
	color: #000000;
}
.module-input {
  width: 100%;
}
.twitter-typeahead{
  width: 100%;
  max-width: 500px;
}
.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 500px;
  padding: 10px 0px;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-suggestion > p {
  display: block;
  padding: 10px 15px;
  clear: both;
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  color: #333333;
  white-space: nowrap;
  margin-bottom: 5px;
  text-align: left;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #F28705;
}
/*
tr>td>a{
  color: #DC9917;
  font-weight: bold;
}
*/
.module-code0 {
  color: #DC9917;
  font-weight: bold;
}
.module-code1 {
  color: #031132;
  font-weight: bold;  
}
tr>td>a:hover{
  color: #F26101;
  font-weight: bolder;
}
.action-button {
  font-size: 17px;
}
.remove-button {
  margin-left: 10px;
}