#navigation {
	margin-top: 175px;
	margin-bottom: 20px;
}
.btn-primary {
	background-color: #293B47;
	color: #F28705;
	border: none;
	margin-top: 3px;
}
.jumbotron:nth-child(odd){
	background-color: #00ADA9;
	color: #FFFFFF;
	
	/*border-style: solid;
	border-width: 2px;
	border-color: #000000;*/
}
.jumbotron:nth-child(even){
	background-color: #CBFF48;
	color: #565659;
}
#dropdown1 {
	background-color: #565659;
	margin-left: 10px;
	color: #F28705;
}
.dropdown-menu {
	background-color: #565659;
	width: auto;
	
}

.item{
	padding-bottom: 30px;
}
.carousel-caption{
	color: #000000;
}
li>a[role="menuitem"] {
	color: #F28705;
}