/*
color scheme adopted:
Dark Blue: #024873
Light Blue: #5B9ED9
Orange: #F28705
White: #F0F0F2
Grey: #565659
*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(/fonts/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff') ;
}
body {
	background: #F0F0F2;
	background-image: url('/images/backgrd.png');
	padding-top: 61px;
	font-family: 'Molengo', sans-serif;
}
h1, h2 {
	font-family: 'Muli', serif;
}
.navbar{
	background-color: #024873;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.5);
}
.navbar-collapse .navbar-nav>li>a:hover{
	color: #FF6600;
}
.navbar-collapse .navbar-text,.navbar-collapse .navbar-nav>li>a {
	font-family: 'Lato', sans-serif;
	color: #FFFFFF;
	margin-left: 16px;
}
.navbar-brand {
	color: #F28705;
	font-size: 25px;
	font-family: 'Quicksand', sans-serif;
}

.navbar-nav>.open>#user-menu{
	background-color: #F28705;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	    border-radius: 10px;
	-khtml-border-radius: 10px;
}
.nav-container {
	padding-top: 5px;
	padding-bottom: 5px;
}
#sign-in-bar {
	font-size: 16px;
}
#main-menu{
	margin-left: 10px;
}
.dropdown-menu>li>a {
	font-family: 'Lato', sans-serif;
}
footer {
	background-color: #4C4C4F;
	color: #FFFFFF;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#github-link {
	color: #000000;
}
#github-link:hover {
	color: #428bca;
}
@media screen and (max-width: 768px){
	.navbar-brand{
		font-size: 20px;
	}
	.navbar-toggle{
		background-color: #F28705;
	}
	.navbar-toggle .icon-bar{
		background-color: #fff;
	}
	.navbar-collapse .navbar-text,.navbar-collapse .navbar-nav>li>a {
		margin-left: 0px;
	}
}
