/*
color scheme adopted:
Dark Blue: #024873
Light Blue: #5B9ED9
Orange: #F28705
White: #F0F0F2
Grey: #565659
*/

body {
	background: #F0F0F2;
	background-image: url('/images/backgrd.png');
	padding-top: 85px;
}
.navbar{
	background-color: #024873;
}
.navbar-nav>li>a{
	color: #000000;
}
.navbar-collapse .navbar-text,.navbar-collapse .navbar-nav li a {
	color: #F28705;
}
.navbar-header .navbar-brand {
	color: #F28705;
	font-size: 20px;
	
}
.nav-container {
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: auto;
}
#sign-in-bar {
	font-size: 16px;
}
#login-dialog .modal-dialog{
	width: 400px;
}
